$layoutWidth: 1000px;
$gap: 32px;
$cyan: #5fc7af;
$gray: #7f7f7f;
$blue: #037aff;
$theme: $cyan;
$warning: #ffe58f;
$error: #ffa39e;

$fontFamilyRegular: PingFangSC-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$fontFamilyLight: PingFangSC-Light, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$fontFamilyMedium: PingFangSC-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$fontFamilyWeight: 'Source Sans Pro', Helvetica, Arial, sans-serif;
